<div class="relative flex w-full flex-col rounded-2xl bg-white outline outline-black/5 dark:bg-gray-950 p-7 gap-6 items-center">
  <div>
    <img class="size-48 shadow-xl rounded-md" alt="" src="assets/img/cover.png" />
  </div>
  <div class="flex flex-col items-center my-shadow">
    <span class="text-2xl font-medium">Class Warfare</span>
    <span class="font-medium text-sky-500">The Anti-Patterns</span>
    <span class="flex gap-2 font-medium text-gray-600 dark:text-gray-400">
      <span>No. 4</span>
      <span>·</span>
      <span>2025</span>
    </span>
  </div>
</div>
